<div class="loader-container" *ngIf="loading">
    <div class="spinner"></div>
</div>


<div class="search-container" style="margin-top: 80px;">
  <form [formGroup]="searchForm">
    <input
      type="text"
      formControlName="searchTerm"
      placeholder="Rechercher une catégorie..."
      class="search-bar"
    />
  </form>
</div>


<div *ngIf="!tb && !loading"
  style="
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  "
>
  Cher client, cette table n'existe pas
</div>
  

<div *ngIf="!loading && tb">
  <h2 class="title">Our Menu</h2>

  <div class="card-container">
    <div
      class="card"
      *ngFor="let item of filteredData"
      (click)="nav(item._id)"
      style="cursor: pointer;"
    >
      <img [src]="formatImagePath(item.image)" alt="Image" />
      <h4>{{ item.nom }}</h4>
    </div>
  </div>
</div>

<div *ngIf="!loading && tb && filteredData.length === 0" class="no-result">
  Aucune catégorie trouvée.
</div>








<!-- <div *ngIf="!loading">
    <h2 class="title">Our Menu</h2>
    
    <div class="card-container" >
      
      <div class="card" *ngFor="let item of data" (click)="nav(item._id)" style="cursor: pointer;">
        <img [src]="formatImagePath(item.image)" alt="Image" />
  
        <h4>{{ item.nom }}</h4>
      </div>
    </div>
</div> -->
  
