<!-- Spinner -->
<div class="loader-container" *ngIf="loading">
  <div class="spinner"></div>
</div>

<!-- Zone de recherche -->
<div class="search-container" *ngIf="!loading && tb" style="margin-top: 80px;">
  <form [formGroup]="searchForm">
    <input
      type="text"
      formControlName="searchTerm"
      placeholder="Rechercher une catégorie..."
      class="search-bar"
    />
  </form>
</div>

<!-- Message si table introuvable -->


<!-- Menu -->
<div *ngIf="!loading && tb">
  <h2 class="title" style="color: #FF6B35;">Our Menu</h2>

  <div class="card-container">
    <div
      class="card"
      *ngFor="let item of filteredData"
      (click)="nav(item._id)"
      style="cursor: pointer;"
    >
      <img [src]="formatImagePath(item.image)" alt="Image" />
      <h4>{{ item.nom }}</h4>
    </div>
  </div>

  <!-- Message si aucune catégorie trouvée -->
  <div *ngIf="filteredData.length === 0" class="no-result">
    Aucune catégorie trouvée.
  </div>
</div>
