


<div class="tab-bar">
  <!-- <a [routerLink]="['/client/home', tb]" routerLinkActive="active" class="tab-button">
    <i class="fas fa-home"></i>
    <span class="tab-label">Accueil</span>
  </a> -->

  <a [routerLink]="['/client/cath', tb]" routerLinkActive="active" class="tab-button">
    <i class="fas fa-utensils"></i>
    <span class="tab-label">Cath</span>
  </a>

  <a (click)="ouvrirPopup()" class="tab-button">
    <i class="fas fa-concierge-bell"></i> <!-- Icône de service -->
    <span class="tab-label">Appeler un serveur</span>
  </a>

  <a [routerLink]="['/client/panier', tb]" routerLinkActive="active" class="tab-button cart-tab" *ngIf="totalQuantite>0">
    <div class="icon-wrapper">
      <i class="fas fa-shopping-cart"></i>
      <span class="badge"> {{ totalQuantite }} </span>
    </div>
    <span class="tab-label">Panier</span>
  </a>

  <a
  class="tab-button"
  [class.disabled]="!idCommande"
  (click)="handleSuiviClick()"
>
  <i class="fas fa-clipboard-list"></i>
  <span class="tab-label">Suivi</span>
</a>

 
  
</div>




<!-- <div class="contact-popup" *ngIf="showContactPopup">
  <div class="popup-content">
    <i class="fas fa-check-circle success-icon"></i>
    <p>{{message}}</p>
    <button (click)="fermerPopup()">Fermer</button>
  </div>
</div> -->

<!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" *ngIf="showContactPopup">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{message}}
  </div>
</div> -->


<div
  class="toast position-fixed top-0 end-0 m-3"
  style="z-index: 1000;"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  *ngIf="showContactPopup"
  #toastElement
>
  <div class="toast-header">
    <strong class="me-auto">Serveur</strong>
    <button type="button" class="btn-close" (click)="fermerPopup()" aria-label="Fermer"></button>
  </div>
  <div class="toast-body">
    {{ message }}
  </div>
</div>



<!-- <div *ngIf="showNoCommandePopup" class="popup">
  <p>🚫 Vous n'avez pas encore passé de commande, aucun suivi disponible.</p>
  <button (click)="showNoCommandePopup = false">Fermer</button>
</div> -->

  
  
