


  <div class="tab-bar">
    <a routerLink="/client/home/19" routerLinkActive="active" class="tab-button">
      <i class="fas fa-home"></i>
      <span class="tab-label">Accueil</span>
    </a>
  
    <a routerLink="/client/cath/19" routerLinkActive="active" class="tab-button">
      <i class="fas fa-utensils"></i>
      <span class="tab-label">Cath</span>
    </a>
  
    <a routerLink="/client/panier/19" routerLinkActive="active" class="tab-button cart-tab">
      <div class="icon-wrapper">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge"> {{totalQuantite}} </span>
      </div>
      <span class="tab-label">Panier</span>
    </a>
  </div>
  
  
