<div class="loader-container" *ngIf="loading">
  <div class="spinner"></div>
</div>

<header class="header" *ngIf="!loading && tb" >
    <div class="toolbar">
      <h1 class="left-title" >N°:{{tb}}</h1>
  
      <div class="icon-wrapper" (click)="notif()" *ngIf="length>0" >
        <i class="fas fa-bell"  ></i>
        <span class="badge"> {{length}} </span> 
      </div>
    </div>
</header>
  <!-- *ngIf="tableInvalide && !loading && !tb || statut=='403'" -->
<div  *ngIf="!loading && (statut === '403' || tableInvalide && !tb)"

  style="
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden !important;
  ">
  <!-- Cher client, cette table n'existe pas -->
   <p>{{message2}}</p>
    <p>
      <a class="mybtn" 
      [href]="'https://restaux-mmds.vercel.app/client/cath/' + tokenactive + '?from=scan'">
      Retour
    </a>
   </p>

</div>


<div class="popup-notif" *ngIf="showNotifPopup">
  
  <h4>Mes notifications</h4>

  
  <div *ngIf="firstNotif && notifdata?.message?.length === 1" class="first-time-msg">
    
     🎉{{ notifdata.message[0]}}
  </div>

  <div style=" overflow: hidden;" >
    <div class="line"></div>
  <ul *ngIf="notifdata?.message?.length > 0">
    
   
    <li *ngFor="let msg of notifdata.message">
      <p><strong>Reference</strong>:  #{{notifdata.index}}</p>
      <div class="circle"></div>
      {{ msg }}
      <hr />
    </li>
  </ul>

 
  <ul *ngIf="!notifdata || !notifdata.message || notifdata.message.length === 0">
    <li class="no-notif">Pas de notification</li>
  </ul>
  </div>

  <button (click)="fermerPopup()">Fermer</button>
</div>


  
