<header class="header">
    <div class="toolbar">
      <h1 class="left-title" >N°:{{tb}}</h1>
  
      <div class="icon-wrapper" (click)="notif()" >
        <i class="fas fa-bell"></i>
        <span class="badge"> {{length}} </span> <!-- nombre de notifications -->
      </div>
    </div>
</header>


<div class="popup-notif" *ngIf="showNotifPopup">
  <h4>Mes notifications</h4>

  <ul *ngIf="notifdata?.message?.length > 0">
    <li *ngFor="let msg of notifdata.message">
      {{ msg }}
      <hr />
    </li>
  </ul>

  <ul *ngIf="!notifdata || !notifdata.message || notifdata.message.length === 0">
    <li class="no-notif">Pas de notification</li>
  </ul>

  <button (click)="fermerPopup()">Fermer</button>
</div>

  
