<!-- <app-hearder></app-hearder>

<div>

    <router-outlet></router-outlet></div>

<app-footer></app-footer> -->

<!-- Header avec style désactivé si le resto est fermé -->
<app-hearder  [class.disabled]="!isOpen"></app-hearder>

<!-- Si le resto est ouvert, on affiche la page normalement -->
<div *ngIf="isOpen">
  <router-outlet></router-outlet>
</div>

<!-- Footer avec style désactivé si le resto est fermé -->
<app-footer [class.disabled]="!isOpen"></app-footer>

<!-- Template affichée si le resto est fermé -->
<!-- <ng-template #closedTemplate> -->
  <div class="closed-message" *ngIf="!isOpen">
    <h2>🚫 Le restaurant est actuellement fermé ou en pause.</h2>
    <p>Merci de revenir plus tard.</p>
  </div>
<!-- </ng-template> -->


