<div class="loader-container" *ngIf="loading">
    <div class="spinner"></div>
</div>

 <div *ngIf="statut == 'deleted_by_admin'" 
       style="height: 60vh; display: flex; justify-content: center; align-items: center; text-align: center;">
    <h2 style="color: red;">❌ Votre commande a été supprimée par l'administrateur.</h2>
  </div>
<div class="box" *ngIf="!loading && statut !== 'deleted_by_admin'">

  


<div class="progress-wrapper" >

    <h2>Suivi de votre commande</h2>
    <p *ngIf="statut =='en_preparation' || statut === 'en_attente'">📦 Nombre de commandes avant vous : {{ length }}</p>
    <p *ngIf="statut =='Servie'"> Merci pour votre patience, savourez bien !🍽️</p>
    <div class="step-container" >
      <div class="progress-fill" [ngStyle]="{ width: progressWidth }"></div>
      
      <div class="step" [class.active]="true"></div>
      <div class="step" [class.active]="statut === 'en_preparation' || statut === 'Servie'"></div>
      <div class="step" [class.active]=" statut === 'Servie'"></div>
    </div>

    <!-- divi -->

    


   
    <div class="labels">
      <span>En attente</span>
      <span>En préparation</span>
      <span>Servie</span>
    </div>
  </div>
  
  
  
  
  
  
  
  



</div>





<!-- <div 
  style="
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  "
>
  Cher client, cette table n'existe pas
</div> -->