<!-- <div class="loader-container" *ngIf="loading">
    <div class="spinner"></div>
</div>


<div *ngIf="!loading">

    <h2>Suivi de votre commande</h2>
<p>📦 Nombre de commandes avant vous : {{ length }}</p>

<div class="progress-bar">
    <div class="dot" [class.active]="statut === 'en_attente' || statut === 'en_preparation' || statut === 'servie'"></div>
    <div class="dot" [class.active]="statut === 'en_preparation' || statut === 'servie'"></div>
    <div class="dot" [class.active]="statut === 'servie'"></div>
</div>

<div class="legende">
  <span>En attente</span>
  <span>En préparation</span>
  <span>Servie</span>
</div>

</div> -->