<div class="loader-container" *ngIf="loading">
    <div class="spinner"></div>
</div>

<!-- <div *ngIf="!loading">
    <div class="menu-list">
      <div class="menu-item" *ngFor="let item of data">
        <div class="item-text" >
          <h4>{{ item.nom }}</h4>
          <p *ngIf="id === '656ef52ee5b0a031c55a455c'">Des repas copieux et savoureux pour satisfaire toutes les faims.</p>
          <p *ngIf="id === '656ef53fe5b0a031c55a455e'">Parfaites pour accompagner vos plats avec goût.</p>
          <p *ngIf="id === '656f0e6f6fce29614e93cedb'">Rafraîchissez-vous avec notre sélection de boissons.</p>
          <p *ngIf="id === '6584a958275ac01290849f23'">Douceurs sucrées pour terminer sur une note gourmande.</p>
          
          <div  style="display: flex; justify-content: space-between;">
           <div class="price"> {{ item.prix }} F CFA</div>
              <button type="button" class="add-btn" (click)="addToCart(item)">
                Ajouter
              </button>
          </div>
        </div>
        
        <img [src]="formatImagePath(item.image)" alt="Image" />
  
      </div>
    </div>
  
  
  </div> -->


  <!-- Barre de recherche fixée -->
<div class="search-container" style="margin-top: 80px;" *ngIf="!loading && tb && token">
  <form [formGroup]="searchForm">
    <input
      type="text"
      formControlName="searchTerm"
      placeholder="Rechercher un article..."
      class="search-bar"
    />
  </form>
</div>

<!-- <div *ngIf="!tb && !loading"
  style="
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  "
>
  Cher client, cette table n'existe pas
</div> -->



<!-- Affichage des articles -->
<div *ngIf="!loading && tb">
  <div class="menu-list">
    <div class="menu-item" *ngFor="let item of filteredData">
      <div class="item-text">
        <h4>{{ item.nom }}</h4>
        <p *ngIf="id === '656ef52ee5b0a031c55a455c'">Des repas copieux et savoureux pour satisfaire toutes les faims.</p>
        <p *ngIf="id === '656ef53fe5b0a031c55a455e'">Parfaites pour accompagner vos plats avec goût.</p>
        <p *ngIf="id === '656f0e6f6fce29614e93cedb'">Rafraîchissez-vous avec notre sélection de boissons.</p>
        <p *ngIf="id === '6584a958275ac01290849f23'">Douceurs sucrées pour terminer sur une note gourmande.</p>

        <div style="display: flex; justify-content: space-between;">
          <div class="price">{{ item.prix }} <sub>Fcfa</sub></div>
          <button type="button" class="add-btn" (click)="addToCart(item)">
            Ajouter
          </button>
        </div>
      </div>

      <img [src]="formatImagePath(item.image)" alt="Image" />
    </div>
  </div>
</div>

<!-- Message si rien n'est trouvé -->
<div *ngIf="!loading && tb && filteredData.length === 0" class="no-result">
  Aucun résultat trouvé.
</div>



