
<div class="loader-container" *ngIf="loading">
    <div class="spinner"></div>
</div>

 <!-- <div *ngIf="!tb || !cartItems"
  style="
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  "
>
  Cher client, cette table n'existe pas
</div> -->
  



<div class="dark-content" *ngIf=" !loading && totalQuantite > 0 ">
    <!-- <div class="order-header">
      <h3>Commande No #18</h3>
    </div> -->
  
    <div class="cart-item" *ngFor="let item of cartItems">
    <img [src]="formatImagePath(item.image)" alt="Image" />

      <!-- <img [src]="item.image" alt="Image" /> -->
      <div class="item-info">
        <div class="top">
          <div class="name">{{ item.nom }}</div>
          <div class="price">{{ item.prix_total }} $</div>
        </div>
        <div class="bottom">
          <span>x{{ item.quantite }}</span>
          <div class="quantity-control">
            <button (click)="decrease(item)">−</button>
            <span>{{ item.quantite }}</span>
            <button (click)="increase(item)">+</button>
          </div>
          <!-- <ion-icon name="trash-outline" (click)="remove(item)"></ion-icon> -->
          <i class="fa-solid fa-trash" (click)="remove(item)" style="cursor: pointer; color: red;margin-left: 10px;"></i>

        </div>
      </div>
    </div>
  
    <div class="summary">
      <!-- <div class="line">
        <span>Sous-total</span>
        <span>{{ subtotal }} $</span>
      </div> -->
      <div class="line total">
        <span>Total</span>
        <span>{{ total }} $</span>
      </div>
    </div>

    <button class="validate-btn" (click)="validerCommande()">Valider ma commande</button>


  </div>


  <div *ngIf="!loading  && totalQuantite <= 0" class="empty-cart">
    <i class="fas fa-shopping-basket"></i>
    <p style="color: red;">Veuillez ajouter des plats à votre panier.</p>
  </div>



 