
//   style parnier
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* plein écran */
    background-color: #f9f9f9;
  }
  
  .spinner {
    width: 64px;
    height: 64px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ffc107; /* couleur principale */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* Animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.dark-content {
    --background: #000;
    color: white;
    padding: 16px;
    margin-top: 70px;

  }
  
  .order-header h3 {
    margin-bottom: 16px;
    color: black;
  }
  
  .cart-item {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    padding: 12px 10;
    border-bottom: 1px solid #444;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  
  .item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
  }
  
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    color: #ccc;
    font-size: 14px;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .quantity-control button {
    background-color: #222;
    color: white;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 18px;
  }
  
//   ion-icon {
//     font-size: 20px;
//     color: #ccc;
//     margin-left: auto;
//   }
  
  .summary {
    margin-top: 20px;
    color: black;
  }
  
  .line {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
  }
  
  .total {
    font-weight: bold;
    color: black;
    margin-top: 12px;
    font-size: 18px;
  }

  .price{
    color: #000;
  }

  .name{
    color: #000;
  }


  .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* centre verticalement */
    align-items: center;       /* centre horizontalement */
    height: 100vh;             /* prend toute la hauteur de la fenêtre */
    color: #888;
    text-align: center;
  }
  
  .empty-cart i {
    font-size: 50px;
    margin-bottom: 10px;
    color: #ccc;
  }
  
  .empty-cart p {
    font-size: 18px;
  }



  .validate-btn {
    background-color: #28a745;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.3);
    transition: all 0.3s ease;
    margin-top: 20px;
    display: block;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  
  .validate-btn:hover {
    background-color: #218838;
    box-shadow: 0 6px 18px rgba(40, 167, 69, 0.5);
    transform: translateY(-2px);
  }
  
  