<div class="validation-page" *ngIf="cartItems.length > 0">
  
    <h2 *ngIf="!commandeValidee">Récapitulatif de votre commande</h2>
  
    <div *ngIf="!commandeValidee">
      <div *ngFor="let item of cartItems" class="recap-item">
        {{ item.nom }} x{{ item.quantite }} - {{ item.prix_total }} $
      </div>

      <div>total: {{total}} </div>
  
      <form [formGroup]="validationForm">
        <div class="select-wrapper">
          <label for="mode">Mode de consommation <sup style="color: orange;">*</sup> : </label>
          <select id="mode" name="mode" formControlName="type_service" >
                  <option value="" disabled selected hidden>Précisez votre mode de consommation</option>
                <option value="sur_place">Sur place</option>
                <option value="emporter">À emporter</option>
          </select>
        </div>

        <textarea formControlName="allergies" placeholder="Avez-vous des allergies ?"></textarea>

        <div class="buttons">
        <button class="confirm-btn" (click)="confirmerCommande()" [disabled]="validationForm.invalid">Confirmer</button>
        <button class="clear-btn" (click)="viderPanier()">Vider le panier</button>
      </div>
      </form>
  
      
    </div>
  
    
  </div>

  <div class="boxs">
    <!-- Message de confirmation -->
    <div *ngIf="commandeValidee && !statuts" class="confirmation-message">
      <i class="fa-solid fa-circle-check"></i>
      <p>Commande effectuée avec succès !</p>
      <button class="cancel-btn" (click)="annulerCommande()">Annuler la commande</button>
    </div>
  
    <!-- Message d'annulation -->
    <div *ngIf="statuts " class="confirmation-message annulee">
      <i class="fa-solid fa-circle-xmark"></i>
      <p>Commande annulée avec succès !</p>
    </div>
  </div>
  