<div class="loader-container" *ngIf="loading">
    <div class="spinner"></div>
</div>
<!-- <div *ngIf="!tb || !cartItems"
  style="
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  "
>
  Cher client, cette table n'existe pas
</div> -->

<div class="validation-page" *ngIf="!loading &&  cartItems.length > 0 ">
  
    <h2 *ngIf="!commandeValidee">Récapitulatif de votre commande</h2>
  
    <div *ngIf="!commandeValidee">
      <!-- <div *ngFor="let item of cartItems" class="recap-item">
        {{ item.nom }} x{{ item.quantite }} - {{ item.prix_total }} $
      </div>

      <div>total: {{total}} </div> -->

      <div class="invoice-box" style="margin-bottom: 10px;">
  <h2>🧾 Résumé de Commande</h2>

  <div class="info" >
    <!-- <p><strong>Client :</strong> Jean Dupont</p> -->
    <p><strong>Date :</strong> {{dateActuelle}} &nbsp;&nbsp; <strong>Heure :</strong> {{heureActuelle}} </p>
    <p><strong>Table :</strong> {{tb}} &nbsp;&nbsp; 
  </div>

  <table>
    <thead>
      <tr>
        <th>Qté</th>
        <th>Plat / Boisson</th>
        <th>Prix U.</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of cartItems">
      <tr >
        <td> {{ item.quantite }} </td>
        <td>{{ item.nom }}</td>
        <td> {{item.prix_unitaire}} <sub>fcfa</sub></td>
        <td>{{ item.prix_total }} <sub>fcfa</sub></td>
      </tr>
      
    </tbody>
  </table>

  <div class="total">Total TTC : <span class="tt">{{total}} </span><sub>fcfa</sub></div>

  <!-- <div class="info">
    <p><strong>Méthode de paiement :</strong> Carte bancaire</p>
    <p><strong>Remarques :</strong> Sans gluten pour la pizza</p>
  </div> -->

  <!-- <div class="footer">
    Merci pour votre visite ! 🍕🥗
  </div> -->
</div>
  
      <form [formGroup]="validationForm">
       

        
          <!-- <div class="select-wrapper">
          <label for="mode">Mode de consommation <sup style="color: orange;">*</sup> : </label>
         
      <select class="select" formControlName="type_service">
        <option value="" disabled selected hidden>Précisez votre mode de consommation</option>
        <option value="sur_place">Sur place</option>
        <option value="emporter">À emporter</option>
       
      </select>    
   
         </div> -->

         <!-- <div class="select-wrapper">
  <label for="mode" class="lb">Mode de consommation <sup style="color: black;">*</sup> :</label>
  <select class="select" formControlName="type_service" id="mode">
    <option value="" disabled selected hidden>Précisez votre mode de consommation </option>
    <option value="sur_place">Sur place</option>
    <option value="emporter">À emporter</option>
  </select>
</div> -->
  <div class="radio-wrapper">
  <label class="lb">Mode de consommation <sup style="color: black;">*</sup> :</label>

  <div class="radio-option">
    <input type="radio" id="sur_place" formControlName="type_service" value="sur_place" />
    <label for="sur_place">Sur place</label>
  </div>

  <div class="radio-option">
    <input type="radio" id="emporter" formControlName="type_service" value="emporter" />
    <label for="emporter">À emporter</label>
  </div>
</div>


        <textarea formControlName="allergies" placeholder="Avez-vous des allergies ?"></textarea>
        <!-- <div class="error-message" *ngIf="validationForm.get('type_service')?.touched && validationForm.get('type_service')?.invalid">
              Veuillez sélectionner un mode de consommation.
          </div> -->
        <div class="buttons">
        <button class="confirm-btn" (click)="confirmerCommande()">Confirmer</button>
        <button class="clear-btn" (click)="viderPanier()">Vider le panier</button>
      </div>
      </form>
  
      
    </div>
  
    
  </div>

  <div class="boxs">
    <!-- Message de confirmation -->
    <div *ngIf="commandeValidee && !statuts" class="confirmation-message">
      <i class="fa-solid fa-circle-check"></i>
      <p>Commande effectuée avec succès !</p>
      <button class="cancel-btn" (click)="annulerCommande()">Annuler la commande</button>
    </div>
  
    <!-- Message d'annulation -->
    <div *ngIf="statuts  " class="confirmation-message annulee">
      <i class="fa-solid fa-circle-xmark"></i>
      <p>Commande annulée avec succès !</p>
    </div>
  </div> 




  <div
  class="toast position-fixed top-0 end-0 m-3"
  style="z-index: 1000;"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  *ngIf="showContactPopup"
  #toastElement
>
  <div class="toast-header">
    <strong class="me-auto">Erreur</strong>
    <a type="button" class="btn-close" (click)="fermerPopup()" aria-label="Fermer" style="background-color: white;"></a>
  </div>
  <div class="toast-body">
    <p>Veuillez choisir un mode de consommation avant de confirmer la commande.</p>
  </div>
</div>
  


